{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'main-login.css' | asset_url | stylesheet_tag }}
{{ 'main-register.css' | asset_url | stylesheet_tag }}
{{ 'main-account.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .p-reset__title {
    margin: 0;
    font-size: 20px;
}
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .p-reset__title {
    margin: 0;
    font-size: 22px;
}
  }

  .p-reset__button .c-btn {
    font-size: 18px;
    padding: 20px 0;
    width: 353px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    border: 1px solid #fff;
}
  .p-reset__listLast {
    padding-top: 15px;
}
  .p-resetTitle {
    padding: 0 25px;
}
  .c-errorMessege {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    text-align: left;
    line-height: 1.5;
}
  .p-error-heading{
    text-align: center;
  }
  .c-errorMessege svg {
    max-width: 20px;
    height: 20px;
  }
  .p-error-lists {
    padding-bottom: 15px;
  }
{%- endstyle -%}


<section class="register l-section p-section">
   <div class="l-login p-login">
     <h2 class="l-title p-title p-login__title p-resetTitle">
           <p class="c-title-en p-login__title--en">RESET</p>
           <p class="c-title-ja p-login__title--ja">パスワードリセット</p>
    </h2>
<!-- 会員リセットフォーム開始 -->
    
     <div class="p-login__inner p-reset__inner">

 <svg style="display: none">
      <symbol id="icon-error" viewBox="0 0 13 13">
        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
      </symbol>
    </svg>
    <h1 class="p-reset__title">
      {{ 'customer.reset_password.title' | t }}
    </h1>
    <p class="p-reset__subTitle">
      {{ 'customer.reset_password.subtext' | t }}
    </p>
    {%- form 'reset_customer_password' -%}
      {%- if form.errors -%}
        <h2 class="p-error-heading c-errorMessege" tabindex="-1">
          <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
           <svg aria-hidden="true" focusable="false" role="presentation">
            <use href="#icon-error" />
          </svg>
        以下確認ください
        </h2>
        
      {%- endif -%}
  
      <div class="p-field__list l-field__list">
          <label for="password" class="p-field__label" for="CustomerEmail">
              パスワード
          </label>
        <input class="c-input"
          type="password"
          name="customer[password]"
          id="password"
          autocomplete="new-password"
          required
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="password-error"
          {% endif %}
          placeholder="{{ 'customer.reset_password.password' | t }}"
        >
      </div>
        {%- if form.errors contains 'password' -%}
          <small id="password-error" class="c-errorMessege">
            <svg aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-error" />
            </svg>
            {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
          </small>
        {%- endif -%}
  
      <div class="p-field__list l-field__list p-reset__listLast">
          <label for="password" class="p-field__label" for="CustomerEmail">
              パスワード（確認）
          </label>
        <input class="c-input"
          type="password"
          name="customer[password_confirmation]"
          id="password_confirmation"
          autocomplete="new-password"
          required
          {% if form.errors contains 'password_confirmation' %}
            aria-invalid="true"
            aria-describedby="password_confirmation-error"
          {% endif %}
          placeholder="パスワード（確認）"
        >

      </div>
        {%- if form.errors contains 'password_confirmation' -%}
          <small id="password_confirmation-error" class="c-errorMessege">
            <svg aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-error" />
            </svg>
            {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
          </small>
        {%- endif -%}
      
    <div class="p-login__new--button p-reset__button">
      <button class="c-btn c-btn-white">
        {{ 'customer.reset_password.submit' | t }}
      </button>
    </div>
    {%- endform -%}
  </div>
                
      </div>
              
   </div>
</section>
<!-- 全体を囲むコード：register l-section p-section -->


{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
